# Please do not use this ignore file to define platform specific files.
#
# For these purposes create a global .gitignore file, which is a list of rules
# for ignoring files in every Git repository on your workstation.
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

# Do not ignore .vscode directory.
!/.vscode

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# Application and docker compose environment variables.
/.env

# Build output
/sortie
*.exe
*.exe~
*.dll
*.so
*.dylib

sortie.db

# Ignore generated specification and plan files.
/.specs
/.plans
/.tasks
